var/
bin
core.node*
dev/
etc/
lib
lib64
proc/
optimum-tpu/
root/
run/
sbin
sys/
tmp/
var/
usr/*
!usr/local/
usr/local/*
!usr/local/lib/
usr/local/lib/*
!usr/local/lib/python3.10/
usr/local/lib/python3.10/*
!usr/local/lib/python3.10/site-packages/
usr/local/lib/python3.10/site-packages/*
!usr/local/lib/python3.10/site-packages/torch_xla/
!usr/local/lib/python3.10/site-packages/peft/
!usr/local/lib/python3.10/site-packages/trl/
!usr/local/lib/python3.10/site-packages/accelerate/
!usr/local/lib/python3.10/site-packages/transformers/
